#blog {
  .blog-info {
    // min-height: 800px;
  }
  .directory {
    position: fixed;
    top: 200px;
    height: 500px;
    text-align: center;
    line-height: 28px;
    overflow-y: auto;
    width: 300px;

    .nav {
        text-align: left;

        ul,
        ol {
          list-style-type: none;
          
          li {
            a {
              font-weight: 400;
              color: #3eaf7c;
            }
          }
        }
    }
  }
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  ::-webkit-scrollbar {
    width: 0;
  }
}
