.container {
  position: relative;
  .title {
    text-align: left;
    margin: 30px auto;
    h4 {
      display: inline;
    }
    span {
      margin-left: 20px;
      font-size: 14px;
    }
  }
}
