// Sidebar 
$sidebar-background-color: #393D49 !default;

$card-background-color: #f9f9f9 !default;

$title-color: #666 !default;
$a-color: #5f6367 !default;

$default-yellow-color: #fbb03b !default;

$selection-color: #fff !default;