$header-background-color: #393D49 !default;
$header-color: #fff !default;
$sidebar-background-color: $header-background-color;

$card-background-color: #f9f9f9 !default;

$title-color: #666 !default;
$a-color: #5f6367 !default;

$default-yellow-color: #fbb03b !default;

$selection-color: #fff !default;

$background-black: #111 !default;

$nav-selected-color: #459fed !default;
$nav-hover-color: #009688 !default;

$blog-text-color: rgba(47,46,46,1) !default;
$blog-summry-color: #7592a4 !default;


$default-font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
'Microsoft YaHei', '微软雅黑', Arial, sans-serif  !default;