#blog {
  min-height: 45vw;

  .blog-info {
    // min-height: 800px;
    .category {
      padding: 0 10px;
      font-weight: 500;
    }
  }
  .directory {
    position: fixed;
    top: 120px;
    // height: 55vw;
    bottom: 10px;
    text-align: center;
    line-height: 28px;
    overflow-x: auto;
    width: 300px;

    .nav {
        text-align: left;

        ul {
          list-style-type: none;
          line-height: 1.5em;
          padding-inline-start: 20px;
        }
        ul li:before {
          margin-left: -2ch;
          position: absolute;
          color: #6363ac;
          content: "-";
          font-size: 18px;
        }
        ol {
          counter-reset: item;
          list-style-type: none;
        }
        ol li:before {
          content: counter(item) ". ";
          counter-increment: item;
          margin-left: -2ch;
          position: absolute;
          color: #6363ac;
        }

        ul a {
          color: #6363ac;
          font-weight: 400;
          text-decoration: dotted;
        }
    }
  }
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  ::-webkit-scrollbar {
    width: 0;
  }
}
