.friend-info {
    text-align: center;
    margin: 100px auto;

    .friend-info-header {
        .dividing-line {
            margin: 20px 0;
            border-bottom: 1px solid #C0C4CC;
        }

        .info-nickname,
        .info-motto {
            text-align: left;
        }
        .info-nickname {
            font-size: 30px;
            margin: 10px 0 15px;
        }
        .info-motto {
            font-size: 16px;
            opacity: .6;
        }
        img {
            float: right;
            border-radius: 5px;
        }
    }

    .info-footer {
        margin-top: 50px;
    }
}