#tools {
    position: relative;
    margin: 80px 50px 0;
    padding: 20px 100px;

    .card {
        background: $sidebar-background-color;
        border-radius: 5px;
        padding: 20px 0;

        .title {
            font-size: 24px;
            color: white !important;
        }
    }

    #use {
        padding:5px 20px 20px;
        border-top: green solid 3px;
        box-shadow: 0 8px 25px 0 rgba(155,155,155,.15);
        border-radius: 5px;
    }
}